.home__block-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
}

.home__block-text {
    margin-bottom: 10px;
    font-size: 20px;
}

.home__link {
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
}
