.home__text {
    display: inline;
    font-size: 35px;
    font-family: 'raleway-c';
    font-weight: 600;
    padding-top: 40px;   
}

.home__text-wrapper {
    margin-bottom: 10px;
    margin-top: 40px;
}

@media screen and (max-width: 979px) {
    .home__text {
        font-size: 27px;
    }
}  

@media screen and (max-width: 520px) {
    .home__text {
        font-size: 20px;
    }
}  

@media screen and (max-width: 450px) {
    .home__text {
        font-size: 14px;
    }
}  

@media screen and (max-width: 799px) {
    .home__text-wrapper {
        padding-left: 50px;
    }
}  