.home__text {
    display: inline;
    font-size: 35px;
    font-family: 'raleway-c';
    font-weight: 600;
    padding-top: 50px;
    border: 1px solid white;
   
}

.home__text-wrapper {
    margin-bottom: 30px;
    border: 1px solid darkorange;
}

@media screen and (max-width: 979px) {
    .home__text {
        font-size: 27px;
    }
}  

@media screen and (max-width: 520px) {
    .home__text {
        font-size: 20px;
    }
}  

@media screen and (max-width: 450px) {
    .home__text {
        font-size: 14px;
    }
}  