.content {
    display: grid;
    gap: 80px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 80px;
}

@media screen and (max-width: 599px) {
    .content {
        padding-top: 50px;
        gap: 50px;
    }
} 