.gallery__wrapper {
    margin: 0 auto;
}

@media screen and (max-width: 844px) {
    .gallery__wrapper {
		padding-left: 10px;
        margin: 0 ;
        padding-right: 10px;
    }
} 

@media screen and (max-width: 599px) {
    .gallery__wrapper {
		padding-left: 20px;
        padding-bottom: 20px;
    }
} 