.home__info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'raleway-c';
    font-size: 18px;
}

@media screen and (max-width: 979px) {
    .home__info {
        font-size: 14px;
    }
}  