.home__content {
    display: flex;
    gap: 80px;
    max-width: 700px;
    margin-bottom: 20px;
}

@media screen and (max-width: 979px) {
    .home__content {
        max-width: 500px;
    }
}  

@media screen and (max-width: 800px) {
    .home__content {
        margin: 0 auto 30px;
    }
}  

@media screen and (max-width: 649px) {
    .home__content {
        align-items: center;
        gap: 20px;
        flex-direction: column;
        margin: 0 auto 30px;
    }
}  