.home__wrapper {
    max-width: 900px;
    margin: 2px auto;
    padding: 0 25px;
    padding-top: 200px;
}

@media screen and (max-width: 510px) {
    .home__wrapper {
		text-align: center;
    }
}  