.form__input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2A2C2F;
    color: #fafafa;
    border: none;
    border-bottom: #516b49 2px solid;
    padding-top: 10px;
    padding-bottom: 5px;
    outline: none;
    border-radius: 0;
    font-size: 18px;
}

.form__input_error {
    border: 1px solid red;
}

.form__date::-webkit-calendar-picker-indicator {
    filter: invert(38%) sepia(6%) saturate(2557%) hue-rotate(61deg) brightness(91%) contrast(75%);
}

.form__time::-webkit-calendar-picker-indicator {
    filter: invert(38%) sepia(6%) saturate(2557%) hue-rotate(61deg) brightness(91%) contrast(75%);
}


@media screen and (max-width: 649px) {
    .form__input {
        font-size: 16px;
    }
} 