.gallery__title {
    font-size: 55px;
    text-shadow: 4px 4px 1px #516b49;
    padding-bottom: 15px;
}

.gallery__title-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 844px) {
    .gallery__title-wrapper {
		padding-left: 50px;
    }
} 

@media screen and (max-width: 599px) {
    .gallery__title-wrapper {
		padding-left: 0;
    }
} 

@media screen and (max-width: 790px) {
    .gallery__title {
        font-size: 45px;
        padding-bottom: 20px;
    }
} 

@media screen and (max-width: 599px) {
    .gallery__title {
        font-size: 35px;
        padding-bottom: 20px;
        text-shadow: 3px 3px 1px #516b49;
    }
} 

@media screen and (max-width: 359px) {
    .gallery__title {
        font-size: 27px;
    }
} 