.menu__title {
    font-size: 55px;
    text-shadow: 4px 4px 1px #516b49;
    padding-bottom: 15px;
}

@media screen and (max-width: 790px) {
    .menu__title {
        font-size: 45px;
        padding-bottom: 0;
    }
} 

@media screen and (max-width: 599px) {
    .menu__title {
        font-size: 35px;
        text-shadow: 3px 3px 1px #516b49;
    }
} 

@media screen and (max-width: 359px) {
    .menu__title {
        font-size: 27px;
    }
} 