.advantages__wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media screen and (max-width: 844px) {
    .advantages__wrapper {
		padding-left: 50px;
        margin: 0 ;
        padding-right: 20px;
    }
} 

@media screen and (max-width: 599px) {
    .advantages__wrapper {
		padding-left: 20px;
        padding-bottom: 20px;
    }
} 