.advantages__wrapper {
    max-width: 800px;
    margin: 0 auto;
    
}

@media screen and (max-width: 844px) {
    .advantages__wrapper {
		padding-left: 50px;
        width: 400px;
        margin: 0 ;
       
    }
} 